.about {
    padding: 4rem 2rem;
    background-color: rgb(215, 214, 214);
}

.about__content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.about p {
    font-size: 1rem;
    line-height: 1.8;
    color: #444;
    margin-bottom: 1rem;
}

.about__features {
    margin-top: 4rem;
}

.about__features h2 {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.about__card {
    background: #fafafa;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
}

.about__card img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.about__card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

.about__card p {
    font-size: 0.95rem;
    color: #555;
}

.about__card--highlight {
    background: #000;
    color: white;
}

.about__card--highlight p {
    color: #e5e5e5;
}


@media (max-width: 768px) {
    .about__cards {
        grid-template-columns: 1fr;
    }
}