.about {
    padding: 3rem 2rem;
    background-color: rgb(199, 199, 198);
}

.about__content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.about p {
    font-size: 1rem;
    line-height: 1.8;
    color: #444;
    margin-bottom: 1rem;
}